{
  "URLBlocklist": [
    "*"
  ],
  "URLAllowlist": [
    "http://localhost",
    "https://www.rainviewer.com",
    "https://api.open-meteo.com"
  ],
  "IncognitoModeAvailability": 1,
  "DeveloperToolsAvailability": 2,
  "DownloadRestrictions": 3,
  "PrintingEnabled": false,
  "BrowserSignin": 0,
  "SyncDisabled": true,
  "PasswordManagerEnabled": false,
  "AutofillAddressEnabled": false,
  "AutofillCreditCardEnabled": false,
  "TranslateEnabled": false,
  "BookmarkBarEnabled": false,
  "EditBookmarksEnabled": false,
  "ShowHomeButton": false,
  "MetricsReportingEnabled": false,
  "SearchSuggestEnabled": false,
  "DefaultNotificationsSetting": 2,
  "DefaultGeolocationSetting": 2,
  "DefaultPopupsSetting": 2,
  "ExtensionInstallBlocklist": [
    "*"
  ],
  "PromotionalTabsEnabled": false,
  "WelcomePageOnOSUpgradeEnabled": false,
  "RestoreOnStartup": 4,
  "RestoreOnStartupURLs": [
    "{{ kiosk_portal_url }}"
  ]
}
