# {{ ansible_managed }}
# CIS Level 1 sysctl hardening

# Disable IP forwarding (CIS 3.1.1)
net.ipv4.ip_forward = 0

# Disable send redirects (CIS 3.1.2)
net.ipv4.conf.all.send_redirects = 0
net.ipv4.conf.default.send_redirects = 0

# Disable source-routed packets (CIS 3.2.1)
net.ipv4.conf.all.accept_source_route = 0
net.ipv4.conf.default.accept_source_route = 0

# Disable ICMP redirect acceptance (CIS 3.2.2)
net.ipv4.conf.all.accept_redirects = 0
net.ipv4.conf.default.accept_redirects = 0

# Disable secure ICMP redirects (CIS 3.2.3)
net.ipv4.conf.all.secure_redirects = 0
net.ipv4.conf.default.secure_redirects = 0

# Log martian packets (CIS 3.2.4)
net.ipv4.conf.all.log_martians = 1
net.ipv4.conf.default.log_martians = 1

# Ignore broadcast ICMP requests (CIS 3.2.5)
net.ipv4.icmp_echo_ignore_broadcasts = 1

# Ignore bogus ICMP error responses (CIS 3.2.6)
net.ipv4.icmp_ignore_bogus_error_responses = 1

# Enable reverse path filtering (CIS 3.2.7)
net.ipv4.conf.all.rp_filter = 1
net.ipv4.conf.default.rp_filter = 1

# Enable TCP SYN cookies (CIS 3.2.8)
net.ipv4.tcp_syncookies = 1

# IPv6 redirects (CIS 3.3.2)
net.ipv6.conf.all.accept_redirects = 0
net.ipv6.conf.default.accept_redirects = 0

# IPv6 router advertisements (CIS 3.3.1)
net.ipv6.conf.all.accept_ra = 0
net.ipv6.conf.default.accept_ra = 0

# ASLR (CIS 1.5.3)
kernel.randomize_va_space = 2

# Restrict core dumps (CIS 1.5.1)
fs.suid_dumpable = 0

# Restrict ptrace (CIS 1.5.4)
kernel.yama.ptrace_scope = 1
