<dict>
  <key>organization</key>
  <string>{{ cloudflare_warp_organization }}</string>
  <key>gateway_unique_id</key>
  <string>{{ cloudflare_warp_gateway_id }}</string>
  <key>service_token_id</key>
  <string>{{ cloudflare_warp_service_token_id }}</string>
  <key>service_token_secret</key>
  <string>{{ cloudflare_warp_service_token_secret }}</string>
  <key>onboarding</key>
  <false />
  <key>auto_connect</key>
  <integer>1</integer>
  <key>switch_locked</key>
  <true />
</dict>
